In [1]:
import pandas as pd

In [8]:
headers= ['uid', 'address', 'phone', 'schoolType', 'status', 'isCharter', 'detailYears', 'county', 'gradeSpan', 'totalStudents', 'totalTeachers', 'studentTeacherRatio', 'locale', 'titleOneStatus', 'enrollmentYears', 'enrollByGrade', 'enrollByRace', 'enrollByGender', 'freeLunch', 'reducedLunch']

In [58]:
df = pd.read_csv('yhack16/bios.csv.tar.gz',compression='gzip', header=None)
df.columns = headers

In [60]:
# first the first one
df.iloc[0]['uid'] = "010000700091"

In [64]:
df.uid.describe()

count            88822
unique           88822
top       120150003909
freq                 1
Name: uid, dtype: object

In [61]:
df.head()

,uid,address,phone,schoolType,status,isCharter,detailYears,county,gradeSpan,totalStudents,totalTeachers,studentTeacherRatio,locale,titleOneStatus,enrollmentYears,enrollByGrade,enrollByRace,enrollByGender,freeLunch,reducedLunch
0,010000700091,"5454 Learning Lane\nHoover, AL 35244-4529",(205) 439-2700,Regular school,Currently operational,†,School Details (2013-2014 school year),Jefferson County,(grades PK - 4),549,40.00,13.72,City: Small (13),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'61', u'105', u'87', u'103', u'81', u'112']","[u'1', u'37', u'214', u'84', u'191', u'22']","[u'302', u'247']",210,37
1,010000500879,"901 W Mckinney Ave\nAlbertville, AL 35950-1346",(256) 878-7698,Regular school,Currently operational,†,School Details (2013-2014 school year),Marshall County,(grades 5 - 6),679,31.25,21.73,Town: Distant (32),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'357', u'322']","[u'3', u'2', u'11', u'256', u'383', u'24']","[u'331', u'348']",457,29
2,010000500871,"402 E Mccord Ave\nAlbertville, AL 35950-2322",(256) 878-6580,Regular school,Currently operational,†,School Details (2013-2014 school year),Marshall County,(grades 9 - 12),"1,117",64.53,17.31,Town: Distant (32),"[u'Title I School:\xa0No', u'Title I School-Wi...",Enrollment Characteristics (2013-2014 school y...,"[u'313', u'304', u'256', u'244']","[u'3', u'3', u'24', u'311', u'771', u'5']","[u'538', u'579']",596,52
3,010000600880,"2233 Shoal Creek Rd\nArab, AL 35016-3510",(256) 753-2246,Regular school,Currently operational,†,School Details (2013-2014 school year),Marshall County,(grades 3 - 5),264,14.70,17.96,Rural: Fringe (41),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'15', u'87', u'88', u'74']","[u'1', u'0', u'2', u'14', u'245', u'2']","[u'133', u'131']",155,33
4,010000600878,"225 Eagle Drive\nDouglas, AL 35964-0300",(256) 593-2810,Regular school,Currently operational,†,School Details (2013-2014 school year),Marshall County,(grades 9 - 12),548,33.17,16.52,Rural: Distant (42),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'156', u'162', u'117', u'113']","[u'3', u'0', u'10', u'125', u'410', u'0']","[u'275', u'273']",330,40

In [56]:
df.head()

,uid,address,phone,schoolType,status,isCharter,detailYears,county,gradeSpan,totalStudents,totalTeachers,studentTeacherRatio,locale,titleOneStatus,enrollmentYears,enrollByGrade,enrollByRace,enrollByGender,freeLunch,reducedLunch
0,./cache/bios.csv,"5454 Learning Lane\nHoover, AL 35244-4529",(205) 439-2700,Regular school,Currently operational,†,School Details (2013-2014 school year),Jefferson County,(grades PK - 4),549,40.00,13.72,City: Small (13),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'61', u'105', u'87', u'103', u'81', u'112']","[u'1', u'37', u'214', u'84', u'191', u'22']","[u'302', u'247']",210,37
1,010000500879,"901 W Mckinney Ave\nAlbertville, AL 35950-1346",(256) 878-7698,Regular school,Currently operational,†,School Details (2013-2014 school year),Marshall County,(grades 5 - 6),679,31.25,21.73,Town: Distant (32),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'357', u'322']","[u'3', u'2', u'11', u'256', u'383', u'24']","[u'331', u'348']",457,29
2,010000500871,"402 E Mccord Ave\nAlbertville, AL 35950-2322",(256) 878-6580,Regular school,Currently operational,†,School Details (2013-2014 school year),Marshall County,(grades 9 - 12),"1,117",64.53,17.31,Town: Distant (32),"[u'Title I School:\xa0No', u'Title I School-Wi...",Enrollment Characteristics (2013-2014 school y...,"[u'313', u'304', u'256', u'244']","[u'3', u'3', u'24', u'311', u'771', u'5']","[u'538', u'579']",596,52
3,010000600880,"2233 Shoal Creek Rd\nArab, AL 35016-3510",(256) 753-2246,Regular school,Currently operational,†,School Details (2013-2014 school year),Marshall County,(grades 3 - 5),264,14.70,17.96,Rural: Fringe (41),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'15', u'87', u'88', u'74']","[u'1', u'0', u'2', u'14', u'245', u'2']","[u'133', u'131']",155,33
4,010000600878,"225 Eagle Drive\nDouglas, AL 35964-0300",(256) 593-2810,Regular school,Currently operational,†,School Details (2013-2014 school year),Marshall County,(grades 9 - 12),548,33.17,16.52,Rural: Distant (42),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'156', u'162', u'117', u'113']","[u'3', u'0', u'10', u'125', u'410', u'0']","[u'275', u'273']",330,40

In [16]:
df.describe()

,uid,address,phone,schoolType,status,isCharter,detailYears,county,gradeSpan,totalStudents,totalTeachers,studentTeacherRatio,locale,titleOneStatus,enrollmentYears,enrollByGrade,enrollByRace,enrollByGender,freeLunch,reducedLunch
count,88822,88822,88822,88822,88822,88822,88822,88822,87690,88822,88822,88822,88822,88822,88822,87688,88822,88822,88822,88822
unique,88822,84052,82493,5,6,4,2,1944,104,2837,9726,3568,14,6,2,87236,85778,43126,1708,536
top,120150003909,-1,(505) 880-3744,Regular school,Currently operational,No,School Details (2013-2014 school year),Los Angeles County,(grades 9 - 12),†,–,–,Suburb: Large (21),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'0', u'0', u'0', u'0']","[u'\u2020', u'\u2020', u'\u2020', u'\u2020', u...","[u'\u2020', u'\u2020']",0,0
freq,1,33,144,85047,87758,74911,88789,1904,14151,1133,3651,4758,23547,51348,88789,110,1133,1133,1850,7775

In [23]:
ids = pd.read_csv('./yhack16/cache/ids_full.csv.gz', compression='gzip')

In [24]:
ids.head()

   Unnamed: 0    STNAM                        SCHNAM   normal_ids
0           0  ALABAMA         Ala Avenue Middle Sch  10000500870
1           1  ALABAMA          Albertville High Sch  10000500871
2           2  ALABAMA                Evans Elem Sch  10000500879
3           3  ALABAMA          Albertville Elem Sch  10000500889
4           4  ALABAMA  Kate Duncan Smith DAR Middle  10000600193

In [28]:
# find the missing names
ids[ids['normal_ids'] == 100002200187 ]

       Unnamed: 0     STNAM                        SCHNAM    normal_ids
16133       16133  DELAWARE  Silver Lake Treatment Center  100002200187

In [29]:
# just 33 schools lack address, appears to be because they actually lack a page
df[df['address'] == "-1"].shape

(33, 20)

In [78]:
clean = df[df['address'] != "-1"]

In [70]:
clean.describe()

,uid,address,phone,schoolType,status,isCharter,detailYears,county,gradeSpan,totalStudents,totalTeachers,studentTeacherRatio,locale,titleOneStatus,enrollmentYears,enrollByGrade,enrollByRace,enrollByGender,freeLunch,reducedLunch
count,88789,88789,88789,88789,88789,88789,88789,88789,87657,88789,88789,88789,88789,88789,88789,87655,88789,88789,88789,88789
unique,88789,84051,82492,4,5,3,1,1943,103,2836,9725,3567,13,5,1,87235,85777,43125,1707,535
top,120150003909,"1820 Xenium Ln N\nPlymouth, MN 55441-8888",(505) 880-3744,Regular school,Currently operational,No,School Details (2013-2014 school year),Los Angeles County,(grades 9 - 12),†,–,–,Suburb: Large (21),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'0', u'0', u'0', u'0']","[u'\u2020', u'\u2020', u'\u2020', u'\u2020', u...","[u'\u2020', u'\u2020']",0,0
freq,1,9,144,85047,87758,74911,88789,1904,14151,1133,3651,4758,23547,51348,88789,110,1133,1133,1850,7775

In [44]:
clean.schoolType.unique()

array([' Regular school', ' Other/alternative school',
       ' Special education school', ' Vocational school'], dtype=object)

In [41]:
import re
xen = re.compile('Xenium')

In [77]:
df['cleaned_Addresses'] = df['address'].apply(lambda x: x.replace("\n", " "))

In [71]:
df.head()

,uid,address,phone,schoolType,status,isCharter,detailYears,county,gradeSpan,totalStudents,totalTeachers,studentTeacherRatio,locale,titleOneStatus,enrollmentYears,enrollByGrade,enrollByRace,enrollByGender,freeLunch,reducedLunch
0,010000700091,"5454 Learning Lane\nHoover, AL 35244-4529",(205) 439-2700,Regular school,Currently operational,†,School Details (2013-2014 school year),Jefferson County,(grades PK - 4),549,40.00,13.72,City: Small (13),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'61', u'105', u'87', u'103', u'81', u'112']","[u'1', u'37', u'214', u'84', u'191', u'22']","[u'302', u'247']",210,37
1,010000500879,"901 W Mckinney Ave\nAlbertville, AL 35950-1346",(256) 878-7698,Regular school,Currently operational,†,School Details (2013-2014 school year),Marshall County,(grades 5 - 6),679,31.25,21.73,Town: Distant (32),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'357', u'322']","[u'3', u'2', u'11', u'256', u'383', u'24']","[u'331', u'348']",457,29
2,010000500871,"402 E Mccord Ave\nAlbertville, AL 35950-2322",(256) 878-6580,Regular school,Currently operational,†,School Details (2013-2014 school year),Marshall County,(grades 9 - 12),"1,117",64.53,17.31,Town: Distant (32),"[u'Title I School:\xa0No', u'Title I School-Wi...",Enrollment Characteristics (2013-2014 school y...,"[u'313', u'304', u'256', u'244']","[u'3', u'3', u'24', u'311', u'771', u'5']","[u'538', u'579']",596,52
3,010000600880,"2233 Shoal Creek Rd\nArab, AL 35016-3510",(256) 753-2246,Regular school,Currently operational,†,School Details (2013-2014 school year),Marshall County,(grades 3 - 5),264,14.70,17.96,Rural: Fringe (41),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'15', u'87', u'88', u'74']","[u'1', u'0', u'2', u'14', u'245', u'2']","[u'133', u'131']",155,33
4,010000600878,"225 Eagle Drive\nDouglas, AL 35964-0300",(256) 593-2810,Regular school,Currently operational,†,School Details (2013-2014 school year),Marshall County,(grades 9 - 12),548,33.17,16.52,Rural: Distant (42),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'156', u'162', u'117', u'113']","[u'3', u'0', u'10', u'125', u'410', u'0']","[u'275', u'273']",330,40

In [42]:
clean[clean['address'].apply(lambda x: True if xen.search(x) else False) ]

,uid,address,phone,schoolType,status,isCharter,detailYears,county,gradeSpan,totalStudents,totalTeachers,studentTeacherRatio,locale,titleOneStatus,enrollmentYears,enrollByGrade,enrollByRace,enrollByGender,freeLunch,reducedLunch
40940,270002503213,"1820 Xenium Ln N\nPlymouth, MN 55441-8888",(763) 550-7200,Special education school,Currently operational,No,School Details (2013-2014 school year),Hennepin County,(grades KG - 9),37,7.12,5.20,City: Small (13),"[u'Title I School:\xa0No', u'Title I School-Wi...",Enrollment Characteristics (2013-2014 school y...,"[u'0', u'2', u'4', u'7', u'7', u'8', u'2', u'4...","[u'0', u'0', u'22', u'3', u'7', u'5']","[u'31', u'6']",33,1
40941,270002503226,"1820 Xenium Ln N\nPlymouth, MN 55441-8888",(763) 550-7200,Special education school,Currently operational,No,School Details (2013-2014 school year),Hennepin County,(grades KG - 12),71,19.55,3.63,City: Small (13),"[u'Title I School:\xa0No', u'Title I School-Wi...",Enrollment Characteristics (2013-2014 school y...,"[u'0', u'1', u'1', u'1', u'3', u'1', u'4', u'1...","[u'0', u'1', u'28', u'4', u'38', u'0']","[u'59', u'12']",42,8
40942,270002503228,"1820 Xenium Ln N\nPlymouth, MN 55441-8888",(763) 550-7200,Special education school,Currently operational,No,School Details (2013-2014 school year),Hennepin County,(grades 7 - 12),15,3.35,4.48,City: Small (13),"[u'Title I School:\xa0No', u'Title I School-Wi...",Enrollment Characteristics (2013-2014 school y...,"[u'0', u'0', u'2', u'5', u'4', u'4']","[u'1', u'0', u'0', u'0', u'14', u'0']","[u'14', u'1']",6,0
40943,270002503232,"1820 Xenium Ln N\nPlymouth, MN 55441-8888",(763) 550-7200,Special education school,Currently operational,No,School Details (2013-2014 school year),Hennepin County,(grades 10 - 12),9,3.36,2.68,City: Small (13),"[u'Title I School:\xa0No', u'Title I School-Wi...",Enrollment Characteristics (2013-2014 school y...,"[u'0', u'0', u'9']","[u'0', u'1', u'4', u'0', u'3', u'1']","[u'5', u'4']",6,0
40944,270002503229,"1820 Xenium Ln N\nPlymouth, MN 55441-8888",(763) 550-7200,Special education school,Currently operational,No,School Details (2013-2014 school year),Hennepin County,(grades 1 - 12),30,6.98,4.30,City: Small (13),"[u'Title I School:\xa0No', u'Title I School-Wi...",Enrollment Characteristics (2013-2014 school y...,"[u'0', u'1', u'1', u'0', u'3', u'2', u'3', u'0...","[u'0', u'1', u'19', u'0', u'9', u'1']","[u'27', u'3']",25,1
40945,270002503234,"1820 Xenium Ln N\nPlymouth, MN 55441-8888",(763) 550-7220,Special education school,Currently operational,No,School Details (2013-2014 school year),Hennepin County,(grades 1 - 12),56,16.22,3.45,City: Small (13),"[u'Title I School:\xa0No', u'Title I School-Wi...",Enrollment Characteristics (2013-2014 school y...,"[u'0', u'5', u'0', u'5', u'8', u'8', u'5', u'5...","[u'1', u'1', u'11', u'1', u'39', u'3']","[u'54', u'2']",22,6
40948,270002503542,"1820 Xenium Ln N\nPlymouth, MN 55441-8888",(763) 550-7200,Special education school,Currently operational,No,School Details (2013-2014 school year),Hennepin County,(grades 1 - 12),30,8.45,3.55,City: Small (13),"[u'Title I School:\xa0No', u'Title I School-Wi...",Enrollment Characteristics (2013-2014 school y...,"[u'0', u'0', u'2', u'0', u'1', u'3', u'1', u'5...","[u'0', u'0', u'16', u'3', u'10', u'1']","[u'19', u'11']",18,3
40951,270002504327,"1820 Xenium Ln N\nPlymouth, MN 55441-8888",(763) 550-7200,Special education school,Currently operational,No,School Details (2013-2014 school year),Hennepin County,(grades 6 - 12),48,8.97,5.35,City: Small (13),"[u'Title I School:\xa0No', u'Title I School-Wi...",Enrollment Characteristics (2013-2014 school y...,"[u'5', u'5', u'7', u'7', u'5', u'7', u'12']","[u'1', u'1', u'16', u'2', u'25', u'3']","[u'30', u'18']",32,1
40954,270002503216,"1820 Xenium Ln N\nPlymouth, MN 55441-3791",(763) 550-7200,Special education school,Currently operational,No,School Details (2013-2014 school year),Hennepin County,(grades 5 - 12),11,3.08,3.57,City: Small (13),"[u'Title I School:\xa0No', u'Title I School-Wi...",Enrollment Characteristics (2013-2014 school y...,"[u'0', u'0', u'8', u'3', u'0', u'0', u'0', u'0']","[u'0', u'0', u'8', u'0', u'1', u'2']","[u'10', u'1']",8,0
40958,270002503597,"1820 Xenium Ln N\nPlymouth, MN 55441-8888",(763) 550-7134,Other/alternative school,Currently operational,No,School Details (2013-2014 school year),Hennepin County,(grades 9 - 12),3,0.00,†,City: Small (13),"[u'Title I School:\xa0No', u'Title I School-Wi...",Enrollment Characteristics (2013-2014 school y...,"[u'0', u'1', u'0', u'2']","[u'0', u'0', u'0', u'0', u'2', u'1']","[u'2', u'1']",0,0

In [76]:
clean.columns

Index([u'uid', u'address', u'phone', u'schoolType', u'status', u'isCharter',
       u'detailYears', u'county', u'gradeSpan', u'totalStudents',
       u'totalTeachers', u'studentTeacherRatio', u'locale', u'titleOneStatus',
       u'enrollmentYears', u'enrollByGrade', u'enrollByRace',
       u'enrollByGender', u'freeLunch', u'reducedLunch'],
      dtype='object')

In [73]:
clean.head(2)

,uid,address,phone,schoolType,status,isCharter,detailYears,county,gradeSpan,totalStudents,totalTeachers,studentTeacherRatio,locale,titleOneStatus,enrollmentYears,enrollByGrade,enrollByRace,enrollByGender,freeLunch,reducedLunch
0,010000700091,"5454 Learning Lane\nHoover, AL 35244-4529",(205) 439-2700,Regular school,Currently operational,†,School Details (2013-2014 school year),Jefferson County,(grades PK - 4),549,40.00,13.72,City: Small (13),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'61', u'105', u'87', u'103', u'81', u'112']","[u'1', u'37', u'214', u'84', u'191', u'22']","[u'302', u'247']",210,37
1,010000500879,"901 W Mckinney Ave\nAlbertville, AL 35950-1346",(256) 878-7698,Regular school,Currently operational,†,School Details (2013-2014 school year),Marshall County,(grades 5 - 6),679,31.25,21.73,Town: Distant (32),"[u'Title I School:\xa0Yes', u'Title I School-W...",Enrollment Characteristics (2013-2014 school y...,"[u'357', u'322']","[u'3', u'2', u'11', u'256', u'383', u'24']","[u'331', u'348']",457,29

In [79]:
clean[['uid', 'phone' , 'cleaned_Addresses']].to_csv('uid_phone_addresses')